.bodyIndex img {
    display: none;
}

.mobileImg {
    display:block;
    margin-left: 0;
    padding-left:0;
    height: auto;
    width: 100%;

}


img.sidebarImg {
    display: none;
 
}
.mainAboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
    margin-bottom: 10%;  
    padding-right: 1rem;
    

    /* background-color: rgba(173, 216, 230, 0.295); */
    
}

.myName {
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
    color: purple;
}

.funFact {
    width: 45%;
    margin-top: 1rem;
    
    padding: 0.4rem;
    background-color: aqua;   
    border-radius: 6px;
    box-shadow: 1, 1, black;
}

.textWhyLearning {
    width: 80%;
    margin-right: 2rem;
    background-color: rgba(211, 211, 211, 0.65);
}

@media screen and (min-width: 700px) {
    .bodyIndex{
        background-image: url(./image/20200813_090745.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: 0;
        background-position-y: -10rem;
        margin-top: 0;
    }

    .sidebar {
       /* background-position-x: 0rem;*/
        width: 20rem;
        position: fixed;
        height: 100%;
        overflow: auto;
        /* border-radius: 5px; */
    }

    .mainAboutMe {
        width: 70%;
        position: absolute;
        margin-left: 20rem;
        margin-top: 4rem;
    }

    img.sidebarImg {
        display:block;
        margin-left: 0;
        padding-left:0;
        height: 100%;
        width: 20rem;
        
        
    }

    img#optionalTwo {
        display: none;
    }

    .funFact {
        width: 35%;
        margin-top: 6rem;
        margin-left: 38rem;
        padding: 0.4rem;

    }

    .textWhyLearning {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
        margin-left: 22rem;
        padding: 1rem;
        border-radius: 6px;
    }
    
    /* body{
        background-image: url(./image/20200813_090745.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        /* background-position-x: +4rem; 
        background-position-y: -20rem;
    } */

}
